<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>3.20手势解锁3.30.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF87F7FB1CABF300006518E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF87F8141CABF300006518E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF87F81F1CABF300006518E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
